    <!-- footer -->
    <div id="footer">
        <div class="container">
          <div class="row text-white align-items-center">
            <div class="col-sm-3 col-lg-5" ">
             <img src="./assets/statue.png" alt="">
            </div>
            <div class="col-sm-12 col-lg-7 ">
              <h3>Want to stay in touch?</h3>
              <h1>newsletter </h1>
              <h1>SUBSCRIBE </h1>
              <p class="py-3">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
              <div class="row">
                <div class="col-sm-5 col-lg-7">
                  <input type="email" class="form-control"  placeholder="name@example.com">
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-warning text-uppercase">
                    Subscribe now
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row pb-5 pt-3 ">
            <div class="d-flex col text-uppercase justify-content-end align-items-center text-white">
              <h6 class="px-3">MAIN</h6>
              <h6 class="px-3">about</h6>
              <h6 class="px-3">game features</h6>
              <h6 class="px-3">System requirements</h6>
              <h6 class="px-3">quotes</h6>
              <img class="px-3" src="./assets/ic-facebook.svg" alt="">
              <img class="px-3" src="./assets/ic-twitter.svg" alt="">
              <img class="px-3" src="./assets/ic-youtube.svg" alt="">
              <img class="px-3" src="./assets/ic-twitch.svg" alt="">
            </div> 
          </div>
          <div class="row ">
            <div class="d-flex justify-content-between border-custom">
              <p> © 2018 Your Games, Inc. All Rights Reserved</p>
              <p class="text-white"> Privacy Policy | Terms of Services | Code of Conduct </p>
            </div>
          </div>
          </div>
        </div>
      </div>