<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css" />

    <title>Chapter 3</title>
  </head>
  <body>
    <div class="container games-container">
      <div class="header"></div>
      <div class="row align-items-center h-100 justify-content-around">
        <div class="col-4">
          <div class="row d-flex gap-3 align-items-center justify-content-end">
            <h2 class="text-end">PLAYER 1</h2>
            <div class="image-wrapper">
              <img src="./assets/batu.png" alt="rock" id="rock" />
            </div>
            <div class="image-wrapper">
              <img src="./assets/gunting.png" alt="scissor" id="scissor" />
            </div>
            <div class="image-wrapper">
              <img src="./assets/kertas.png" alt="paper" id="paper" />
            </div>
          </div>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-center">
          <div class="row d-flex align-items-center justify-content-center">
            <div class="mb-100"">
              <h3 id="status" class="text-center text-status">vs</h3>
            </div>
            <div class="refresh-wrapper">
              <img src="./assets/refresh.png" alt="rock" id="refresh" />
            </div>
          </div>
        </div>
        <div class="col-4">
          <div
            class="row d-flex gap-3 align-items-center justify-content-start"
          >
            <h2>COMPUTER</h2>
            <div class="image-wrapper">
              <img src="./assets/batu.png" alt="rock" id="rockComputer" />
            </div>
            <div class="image-wrapper">
              <img
                src="./assets/gunting.png"
                alt="scissor"
                id="scissorComputer"
              />
            </div>
            <div class="image-wrapper">
              <img src="./assets/kertas.png" alt="paper" id="paperComputer" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <script rel="text/javascript" src="./main.js"></script>
  </body>
</html>
