<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <title>Chapter 3</title>
  </head>
  <body>
    <%- include("navbar"); -%>

    <!-- Home -->
    <div id="home">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
          <div class="col text-center text-white mt-5">
            <h1 class="text-uppercase title">Play traditional game</h1>
            <h4 class="sub-title my-5">Experience new traditional game play</h4>
            <a href="game" class="btn btn-warning text-uppercase"> Play Now </a>
          </div>
          <div class="text-center text-white">
            <p class="text-uppercase">the story</p>
            <svg
              width="23"
              height="12"
              viewBox="0 0 23 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <!-- about -->
    <div id="about">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
          <div
            class="col-md-12 col-lg-3 text-white align-self-start"
            style="margin-top: 250px"
          >
            <h4>What's so special ?</h4>
            <h1 class="text-uppercase">THE GAMEs</h1>
          </div>
          <div class="col-md-12 col-lg-8">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="./assets/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./assets/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="./assets/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- game feature -->
    <div id="feature">
      <div class="container h-100">
        <div class="row align-items-start justify-content-end">
          <div class="col-sm-8 col-lg-5 text-white" style="margin-top: 250px">
            <h4>What's so special ?</h4>
            <h1 class="text-uppercase">features</h1>
          </div>
        </div>
        <div class="row justify-content-end mt-5">
          <div class="col-sm-5 col-lg-5 align-items-center text-white">
            <div class="circle ms-auto"></div>
          </div>
          <div class="col-sm-7 col-lg-5 mb-4 text-white">
            <div class="d-flex align-items-center">
              <h4 class="text-uppercase text-yellow">TRADTIONAL GAMES</h4>
            </div>
            <h6 style="max-width: 400px">
              If you miss your childhood, we provide many traditional games here
            </h6>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-sm-7 col-lg-5 text-white mt-4">
            <div class="d-flex align-items-center">
              <h4 class="text-uppercase text-yellow">GAME SUIT</h4>
            </div>
          </div>
        </div>
        <div class="row justify-content-end">
          <div
            class="col-sm-5 col-lg-5 align-items-center text-white"
            style="margin-top: 55px"
          >
            <div class="circle-reguler ms-auto"></div>
          </div>
          <div class="col-sm-7 col-lg-5 text-white mt-5">
            <div class="d-flex align-items-center">
              <h4 class="text-uppercase text-yellow">TBD</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- recruitment -->
    <div id="requirements">
      <div class="container">
        <p class="text-white text-center">Can My Computer Run this game?</p>
        <div class="row" style="margin: 60px 0">
          <div class="col text-white">
            <h1>System</h1>
            <h1>recruitment</h1>
          </div>
        </div>
        <div class="col-lg-6">
          <table class="table table-bordered text-white border-gray">
            <tbody>
              <tr>
                <td class="text-yellow">
                  OS
                  <p class="text-white">
                    Windows 7 64-bit only (No OSX support at this time)
                  </p>
                </td>

                <td class="text-yellow">
                  PROCESSOR:
                  <p class="text-white">
                    Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                  </p>
                </td>
              </tr>
              <tr>
                <td class="text-yellow">
                  mEMORY:
                  <p class="text-white">4 GB RAM</p>
                </td>
                <td class="text-yellow">
                  storage:
                  <p class="text-white">8 GB available space</p>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="text-yellow">
                  GRAPHICS:
                  <p class="text-white">
                    NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB
                    DirectX11 (Shader Model 5)
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Top score -->
    <div id="top-scores">
      <div class="container">
        <div class="row text-white">
          <div class="col-md-12 col-lg-6" style="padding-top: 16rem">
            <h2>TOP SCORES</h2>
            <h6 class="my-4">
              This top score from various games provided on this platform
            </h6>
            <button type="button" class="btn btn-warning text-uppercase">
              see more
            </button>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="row">
              <div
                class="card text-white bg-dark mb-3"
                style="max-width: 28rem"
              >
                <div class="card-body">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="d-flex align-items-center mb-3">
                      <img
                        src="./assets/profile-picture.jpg"
                        alt="profile-picture"
                        class="profile-image"
                      />
                      <div>
                        <h5 class="card-title">Evan Lahti</h5>
                        <h6 class="card-title">Pc Gamer</h6>
                      </div>
                    </div>
                    <img src="./assets/ic-twitter.svg" alt="twitter" />
                  </div>
                  <p class="card-text mb-3">
                    "Some quick example text to build on the card title and make
                    up the bulk of the card's content.""
                  </p>
                  <p class="card-text text-gray">June 18, 2021</p>
                </div>
              </div>
            </div>
            <div class="row justify-content-end">
              <div
                class="card text-white bg-dark mb-3"
                style="max-width: 28rem"
              >
                <div class="card-body">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="d-flex align-items-center mb-3">
                      <img
                        src="./assets/profile-picture.jpg"
                        alt="profile-picture"
                        class="profile-image"
                      />
                      <div>
                        <h5 class="card-title">Evan Lahti</h5>
                        <h6 class="card-title">Pc Gamer</h6>
                      </div>
                    </div>
                    <img src="./assets/ic-twitter.svg" alt="twitter" />
                  </div>
                  <p class="card-text mb-3">
                    "Some quick example text to build on the card title and make
                    up the bulk of the card's content.""
                  </p>
                  <p class="card-text text-gray">June 18, 2021</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div
                class="card text-white bg-dark mb-3"
                style="max-width: 28rem"
              >
                <div class="card-body">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="d-flex align-items-center mb-3">
                      <img
                        src="./assets/profile-picture.jpg"
                        alt="profile-picture"
                        class="profile-image"
                      />
                      <div>
                        <h5 class="card-title">Evan Lahti</h5>
                        <h6 class="card-title">Pc Gamer</h6>
                      </div>
                    </div>
                    <img src="./assets/ic-twitter.svg" alt="twitter" />
                  </div>
                  <p class="card-text mb-3">
                    "Some quick example text to build on the card title and make
                    up the bulk of the card's content.""
                  </p>
                  <p class="card-text text-gray">June 18, 2021</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("footer"); -%>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
