<!-- Navbar -->
<nav
  class="navbar fixed-top navbar-expand-lg navbar-dark"
  style="background: rgba(0, 0, 0, 0.4); height: 90px"
>
  <div class="container">
    <a class="navbar-brand text-uppercase" href="/">Logo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav mx-auto my-lg-0 navbar-nav-scroll text-uppercase"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">About Me</a>
        </li>
      </ul>
      <ul class="navbar-nav" style="--bs-scroll-height: 100px">
        <li class="nav-item">
          <a
            class="nav-link text-uppercase"
            aria-current="page"
            href="/register"
            >Sign Up</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
