<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <title>Chapter 3</title>
  </head>
  <body>
    <%- include("navbar"); -%>

    <!-- Home -->
    <div id="home">
      <div class="container h-100 w-50">
        <div class="row h-100 align-items-center justify-content-center">
          <form action="/register" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label text-white"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                aria-describedby="email"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label text-white"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                aria-describedby="password"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
