<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head"); %>

  <body class="bg-gray-200">
    <div class="container position-sticky z-index-sticky top-0">
      <div class="row">
        <div class="col-12">
          <!-- Navbar -->
          <nav
            class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4"
          >
            <div class="container-fluid ps-2 pe-0">
              <button
                class="navbar-toggler shadow-none ms-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navigation"
                aria-controls="navigation"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon mt-2">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </span>
              </button>
              <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a
                      class="nav-link d-flex align-items-center me-2 active"
                      aria-current="page"
                      href="/dashboard"
                    >
                      <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                      Dashboard
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link me-2" href="/register">
                      <i
                        class="fas fa-user-circle opacity-6 text-dark me-1"
                      ></i>
                      Sign Up
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link me-2" href="/login">
                      <i class="fas fa-key opacity-6 text-dark me-1"></i>
                      Sign In
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>
      </div>
    </div>
    <main class="main-content mt-0">
      <div
        class="page-header align-items-start min-vh-100"
        style="
          background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');
        "
      >
        <span class="mask bg-gradient-dark opacity-6"></span>

        <% if (messages.error) { %>
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
        >
          <%= messages.error %>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>

        <div class="container my-auto">
          <div class="row">
            <div class="col-lg-4 col-md-8 col-12 mx-auto">
              <div class="card z-index-0 fadeIn3 fadeInBottom">
                <div
                  class="card-header p-0 position-relative mt-n4 mx-3 z-index-2"
                >
                  <div
                    class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1"
                  >
                    <h4
                      class="text-white font-weight-bolder text-center mt-2 mb-0"
                    >
                      Come Inside!
                    </h4>
                  </div>
                </div>
                <div class="card-body">
                  <form
                    method="POST"
                    action="/login"
                    role="form"
                    class="text-start"
                  >
                    <div class="input-group input-group-outline my-3">
                      <label class="form-label">Username</label>
                      <input type="text" class="form-control" name="username" />
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Password</label>
                      <input
                        type="password"
                        name="password"
                        class="form-control"
                      />
                    </div>

                    <div class="text-center">
                      <button
                        type="submit"
                        class="btn bg-gradient-primary w-100 my-4 mb-2"
                      >
                        Sign in
                      </button>
                    </div>
                    <p class="mt-4 text-sm text-center">
                      Don't have an account?
                      <a
                        href="/register"
                        class="text-primary text-gradient font-weight-bold"
                        >Sign up</a
                      >
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--   Core JS Files   -->
    <%- include("partials/footer"); %>
  </body>
</html>
