@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Bebas Neue', cursive; */
}

p {
  margin: 0;
}

#home {
  background-image: url(./../assets/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
}

#about {
  background-image: url(./../assets/the-games-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
}

#feature {
  background-image: url(./../assets/features.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #fff;
  position: relative;
}

.circle::after {
  content: "";
  width: 2px;
  height: 135px;
  background-color: #fff;
  position: absolute;
  display: block;
  top: 6px;
  left: 6px;
}
.circle::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  position: absolute;
  display: block;
  top: 140px;
}

.circle-reguler {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid #fff;
}

.text-yellow {
  color: #ffb548;
}

.text-gray {
  color: #979797;
}

.card {
  border-radius: 10px !important;
}

#requirements {
  background-image: url(./../assets/requirements.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
  padding-top: 145px;
}

#top-scores {
  background-image: url(./../assets/top-score-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
  padding-top: 160px;
}
#footer {
  background-image: url(./../assets/top-score-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
  padding-top: 160px;
}

.title {
  font-size: 72px;
  font-weight: 700;
}

/* nav */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  line-height: 32.68px;
  letter-spacing: 10%;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  margin: 0 10px;
  font-size: 12px;
  font-weight: 700;
}

.btn {
  padding: 10px 50px;
  font-weight: 700;
}

.bordered {
  border: 1px solid #ffb548;
  padding: 15px 20px;
}

.border-gray {
  border-color: #979797;
}

.profile-image {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin-right: 14px;
}

.border-custom {
  border-top: 1px solid #fff;
  padding: 25px 0;
}

.games-container{
  background-color: #9C835F;
  height: 100vh;
}

.image-wrapper{
  width: 223px;
  height: 204px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgcolor{
  background-color: #C4C4C4;
  width: 223px;
  height: 204px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper:active{
  background-color: #C4C4C4;
}

.text-status{
  color: #BD0000;
  font-weight: 700;
  font-size: 144px;
  text-transform: uppercase;
  text-align: center;
}

.status-new-style{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:white;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #4C9654;
  width: 270px;
  height: 166px;
  border-radius: 10px;
  padding:0 10px;
}

.refresh-wrapper{
  width: 150px;
}

.refresh-wrapper:active{
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

img{
  width: 120px;
}

.mb-100{
  margin:200px 0;
}
