<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <style>
      .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 90px 0 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
        z-index: 99;
      }

      @media (max-width: 767.98px) {
        .sidebar {
          top: 11.5rem;
          padding: 0;
        }
      }

      .navbar {
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
      }

      @media (min-width: 767.98px) {
        .navbar {
          top: 0;
          position: sticky;
          z-index: 999;
        }
      }

      .sidebar .nav-link {
        color: #333;
      }

      .sidebar .nav-link.active {
        color: #0d6efd;
      }
    </style>
  </head>
  <body>
    <%- include("header"); -%>

    <div class="container-fluid">
      <div class="row">
        <%- include("sidebar"); -%>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <h1 class="h2 py-2">Dashboard</h1>

          <div class="row">
            <div class="col-12 col-xl-10 mb-4 mb-lg-0">
              <div class="card">
                <div
                  class="d-inline-flex justify-content-between card-header align-items-center"
                >
                  <h5>Latest transactions</h5>
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#addModal"
                  >
                    Tambah data
                  </button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">No</th>
                          <th scope="col">Nama</th>
                          <th scope="col">Status Game</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% history.forEach(i => { %>
                        <tr>
                          <th scope="row"><%= i.id %></th>
                          <td><%= i.name %></td>
                          <td>
                            <%= i.gameStatus === true ? 'Menang' : 'Kalah' %>
                          </td>
                          <td>
                            <ul class="list-inline m-0">
                              <li class="list-inline-item">
                                <form
                                  action="/update/<%= i.id %>"
                                  method="post"
                                >
                                  <button
                                    class="btn btn-success btn-sm rounded-0"
                                    type="button"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Edit"
                                    data-bs-toggle="modal"
                                    data-bs-target="#updateModal"
                                  >
                                    <i class="fa fa-edit"></i>
                                  </button>
                                </form>
                              </li>

                              <li class="list-inline-item">
                                <form
                                  action="/delete/<%= i.id %>"
                                  method="post"
                                >
                                  <button
                                    class="btn btn-danger btn-sm rounded-0"
                                    type="submit"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Delete"
                                    data-id="<%= i.id %>"
                                  >
                                    <i class="fa fa-trash"></i>
                                  </button>
                                </form>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div
            class="modal fade"
            id="addModal"
            tabindex="-1"
            aria-labelledby="addModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/add" method="post">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Tambah Data</h5>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Nama</label
                      >
                      <input
                        type="name"
                        class="form-control"
                        id="name"
                        name="name"
                        value=""
                      />
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefault"
                        id="flexRadioDefault1"
                        value="true"
                      />
                      <label class="form-check-label" for="flexRadioDefault1">
                        Menang
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefault"
                        id="flexRadioDefault2"
                        value="false"
                        checked
                      />
                      <label class="form-check-label" for="flexRadioDefault2">
                        Kalah
                      </label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Save changes
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- update Modal -->
          <div
            class="modal fade"
            id="updateModal"
            tabindex="-1"
            aria-labelledby="updateModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/update/" method="post">
                  <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">
                      Update Data
                    </h5>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Nama</label
                      >
                      <input
                        type="name"
                        class="form-control"
                        id="name"
                        name="name"
                        value=""
                      />
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefault"
                        id="flexRadioDefault1"
                        value="true"
                      />
                      <label class="form-check-label" for="flexRadioDefault1">
                        Menang
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="flexRadioDefault"
                        id="flexRadioDefault2"
                        value="false"
                        checked
                      />
                      <label class="form-check-label" for="flexRadioDefault2">
                        Kalah
                      </label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Save changes
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/b9663aed1f.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
