<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <style>
      .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 90px 0 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
        z-index: 99;
      }

      @media (max-width: 767.98px) {
        .sidebar {
          top: 11.5rem;
          padding: 0;
        }
      }

      .navbar {
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
      }

      @media (min-width: 767.98px) {
        .navbar {
          top: 0;
          position: sticky;
          z-index: 999;
        }
      }

      .sidebar .nav-link {
        color: #333;
      }

      .sidebar .nav-link.active {
        color: #0d6efd;
      }
    </style>
  </head>
  <body>
    <%- include("header"); -%>

    <div class="container-fluid">
      <div class="row">
        <%- include("sidebar"); -%>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <h1 class="h2 py-2">Profile</h1>
          <div class="col-md-6">
            <div class="card my-2 p-4">
              <div class="text-center">
                <img
                  src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
                  class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                  width="200px"
                  alt="profile"
                />
              </div>

              <% biodata.forEach(element => { %>

              <div class="mb-2 d-flex">
                <h3>Full Name:</h3>
                <div>&nbsp;</div>
                <h3><%= element.firstName %></h3>
                <div>&nbsp;</div>
                <h3><%= element.lastName %></h3>
              </div>
              <div class="mb-2 d-flex">
                <h3>Email:</h3>
                <div>&nbsp;</div>
                <h3><%= element.email %></h3>
              </div>
              <% }) %>
            </div>
          </div>
        </main>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/b9663aed1f.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
